<%- include('partials/header') %>

<h1><%= title %></h1>

<p>
  These are the current service project categories:
</p>

<ul>
  <% categories.forEach(category => { %>
    <li>
      <%= category.name %>
    </li>
  <% }); %>
</ul>

<%- include('partials/footer') %>